@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
